<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="false" verbose="3">
<listeners>
    <listener class-name="org.uncommons.reportng.HTMLReporter"/>
  </listeners>
<parameter name = "browser" value = "chrome" />
  <test name="Test">
    <classes>
      <class name="test.LoginPageTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
